.attack-table {
    table-layout: fixed ;
    width: 100% ;
  }
.line50 {
    width: 50% ;
}
.line35 {
    width: 35%;
}
.line25 {
    width: 25% ;
}
.line15 {
    width: 15% ;
}
.line20 {
    width: 20% ;
}
.line10 {
    width: 10% ;
}

.mikata {
    position: absolute;
    left: 20px;
    bottom: 40px;
    display: inline-block;
    text-align: center;
    width: 480px;
}
.mikataattr{
    border-radius: 10px;
    position: absolute;
    left: 350px;
    bottom: 80px;
    width: 280px;
    height: 80px;
    background-color:rgba(255, 228, 181, 0.623);
}
.teki {
    position: absolute;
    right: 20px;
    top: 40px;
    display: inline-block;
    text-align: center;
    width: 480px;
}
.tekiattr{
    border-radius: 10px;
    position: absolute;
    right: 330px;   
    top: 120px;
    width: 280px;
    height: 80px;
    background-color:rgba(255, 228, 181, 0.623);
    /* background-color: lightskyblue; */
}
.teki.img .mikata.img{
    width: 256px;
    height: 256px;
}

.main{
    margin: 20px;
}


hr.line {
    border: 10px solid green;
    width: 100px;
    display: inline-block;
    float: right;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
div.item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 150px;
}
.caption {
    display: block;
}
img.sel {
    height: 150px;
    width: 150px;
}
div.mymonster {
    margin-top: 10px;
    margin-left: 10px;
    height: 600px;
    width: 600px;   
}
div.option{
    border-radius: 10px;
    position: absolute;
    left: 650px;
    bottom: 80px;
    width: 200px;
    height: 80px;
    background-color:rgba(90, 90, 90, 0.3);
}
tr {
    height: 35px;
}
img.cursor {
    /* position: absolute;
    left: 10px;
    bottom: 15px; */
    
    height: 20px;
    width: 20px;
}