.mapgrid {
    border-spacing: 0px;
    /* border-padding: 0px; */
}

.mapgrid-element {
    padding: 0px
}

.butt {
    background-color: lightBlue;
    display: grid;
    float: left;
    /* height:50px;
    width:50px; */
}
.checkbutt{
    background-color: palegreen;
    display: grid;
    float: left;
    /* height:50px;
    width:50px; */
}

.butt:hover {
    background-color: blue;
    color:white;
}